extends ../layout

block content
  if(errors)
    <h2 class="error">Oooops!</h2>
        <ul class="error">
            <li>The title of the book is required</li>
            <li>The author's name is required</li>
        </ul>